@import './variables';
@import './mixins';

// Typography Classes
.display-1 {
  font-size: $font-size-6xl;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  letter-spacing: -0.025em;

  @include md {
    font-size: $font-size-8xl;
  }
}

.display-2 {
  font-size: $font-size-5xl;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  letter-spacing: -0.025em;

  @include md {
    font-size: $font-size-7xl;
  }
}

.heading-1 {
  font-size: $font-size-4xl;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  letter-spacing: -0.025em;
}

.heading-2 {
  font-size: $font-size-3xl;
  font-weight: $font-weight-semibold;
  line-height: $line-height-snug;
}

.heading-3 {
  font-size: $font-size-2xl;
  font-weight: $font-weight-semibold;
  line-height: $line-height-snug;
}

.heading-4 {
  font-size: $font-size-xl;
  font-weight: $font-weight-semibold;
  line-height: $line-height-snug;
}

.heading-5 {
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  line-height: $line-height-normal;
}

.heading-6 {
  font-size: $font-size-base;
  font-weight: $font-weight-semibold;
  line-height: $line-height-normal;
}

.body-large {
  font-size: $font-size-xl;
  line-height: $line-height-relaxed;
}

.body {
  font-size: $font-size-base;
  line-height: $line-height-relaxed;
}

.body-small {
  font-size: $font-size-sm;
  line-height: $line-height-normal;
}

.caption {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  line-height: $line-height-normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.label {
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  line-height: $line-height-normal;
}
